.App{
  height: 100vh;
  display: flex;
  font-family: 'Space Grotesk', sans-serif;
}
h1{
  margin: 0;
  padding: 0;
  position: absolute;
  top:-25%;
  opacity: 0;
}
button{
  outline: none;
  font-family: 'Space Grotesk', sans-serif;
}
.frontDiv, .backDiv{
  position: absolute;
  display: flex;
  align-items: center;
}
.frontImg, .backImg {
  width: 400px;
}
.cardLogo{
  width: 80px;
}
.frontSide, .backSide{
  width: 400px;
  height: 200px;
  /* background-color: #21092f94; */
  box-sizing: border-box;
  z-index: 5;
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.frontData{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: #21092f94; */
  height: 50%;
}
.cardNum{
  font-size: 30px;
  width: 100%;
  text-align: left;
}
.name-date{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  text-transform: capitalize;
}
.frontImg, .backImg{
  position: inherit;
}
.backSide{
  /* background-color: #21092f; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-right: 50px;
  box-sizing: border-box;
}
.grad{
  /* width: 30vw; */
  flex: 1;
  height: 100vh;
  background: #21092f;
}
.mainBody{
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form, .thankYouComp{
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  font-size: 15px;
  color: hsl(278, 68%, 11%);
  width: 40%;
  /* margin-right: 15%; */
}
.nameDiv, .numberDiv{
  display: flex;
  flex-direction: column;
  position: relative;
}
input{
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.459);
  border-radius: 5px;
  margin: 0.5rem 0;
  width: 100%;
}
.date-cvc{
  display: flex;
  width: 100%;
}
.dateDiv{
  display: flex;
  flex-direction: column;
  flex: 1;
  /* background-color: aqua; */
}
.dateDiv > div{
  display: flex;
}
.cvcDiv{
  flex: 1;
  /* background-color: rebeccapurple; */
}
#yy, #errorYear{
  margin: auto 1rem;
}
.submit{
  background-color: hsl(278, 68%, 11%);
  width: 100%;
  border: 2px solid  hsl(278, 68%, 11%);;
  border-radius: 5px;
  margin-top: 0.5rem;
  color: white;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thankYouComp{
  align-items: center;
  display: flex; align-items: center; justify-content: space-evenly;
}
.doneIcon{
  background-color: #21092f;
  width: 5rem;
  height: 5rem;
  color: white;
  display: flex; align-items: center; justify-content: center;
  border-radius: 50%;
}
.doneIcon > span{
  font-size: 3rem;
}
.thankYou{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}
.thankYouText{
  font-size: 20px;
  font-weight: 100;
  opacity: 0.6;
}
#errorName, #errorNum, #errorMonth, #errorYear, #errorCVC{
  border: 1px solid red;
}
.errorMsg{
  color: red;
  font-size: 10px;
  /* position: absolute; */
  top: 50%;
  right: 0;
}

/* desktop and bigger */
@media only screen and (min-width: 1100px) {
  .frontDiv{
    top: 15vh;
    left: 15vw;
    z-index: 8;
  }
  .backDiv{
    top: 55vh;
    left: 20vw;
    z-index: 5;
  }
  .submit:hover{
    background-color: white;
    color: #21092f;
    cursor: pointer;
  }
  .thankYouComp{
    height: 40vh;
    margin-right: 0;
    justify-self: center;
  }
}
/*tablet*/
@media only screen and (min-width: 850px) and (max-width: 1199px) {
  .frontDiv{
    top: 25vh;
    left: 5vw;
  }
  .backDiv{
    top: 05vh;
    left: 15vw;
  }
  .form, .thankYouComp{
    margin-top: 5rem;
    width: 55%;
    /* margin-right: 5%; */
  }
  .submit:hover{
    background-color: white;
    color: #21092f;
    cursor: pointer;
  }
  .thankYouComp{
    height: 35vh;
  }
  .thankYou{
    font-size: 1.8rem;
  }
  .thankYouText{
    font-size: 18px;
  }
}
/*tablet and below mobile*/
@media only screen and (max-width: 849px){
  .App{
    flex-direction: column;
  }
  .mainBody{
    justify-content: center;
  }
  .frontDiv, .backDiv{
    justify-content: center;
    width: 100%;
  }
  .frontDiv{
    top: 22vh;
  }
  .backDiv{
    top: 05vh;
  }
  .frontImg, .backImg {
    /* change below 450 */
    width: 350px; 
  }
  .frontImg, .frontSide{
    margin-right: 4rem;
  }
  .backImg, .backSide{
    margin-left: 4rem;
  }
  .cardLogo{
    width: 60px;
  }
  .frontSide, .backSide{
    width: 350px;
    height: 200px;
  }
  .cardNum{
    font-size: 25px;
  }
  .name-date{
    font-size: 12px;
  }
  .appBody{
    justify-content: center;
  }
  .form, .thankYouComp{
    width: 400px;
    margin-right: 0;
    margin-top: 5rem;
  }
  input{
    padding: 1rem;
    font-size: 14px;
  }
  .thankYouComp{
    height: 40vh;
  }
  .thankYou{
    font-size: 1.5rem;
  }
  .thankYouText{
    font-size: 15px;
  }
}
/*mobile*/
@media only screen and (max-width: 500px) {
  .frontImg, .backImg {
    /* change below 450 */
    width: 300px; 
  }
  .frontSide, .backSide{
    width: 300px;
    height: 165px;
  }
  .cardLogo{
    width: 3.5rem;
  }
  .cardNum{
    font-size: 22px;
  }
  .form, .thankYouComp{
    width: 85%;
    margin-top: 0;
  }
  .form > *, .thankYouComp > *{
    margin: 0.5rem 0;
  }

  .submit:active{
    background-color: white;
    color: #21092f;
    cursor: pointer;
  }
}